* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #252525;
}

.posts {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.posts h1 {
  color: #fff;
  margin-bottom: 20px;
}

.container {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}

.container::-webkit-scrollbar-track {
  background-color: #444;
}

.post-card {
  background-color: #444;
  padding: 15px;
  border-radius: 6px;
  color: #fff;
  height: 500px;
}

.post-card img {
  border-radius: 7px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 425px;
}

.post-card h4 {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  background: linear-gradient(90deg, #ffc0e6, #807cf6);
  background-clip: text;
}